.sectorTools__map {
  max-height: calc(100vh - var(--nav-total));
  max-width: 100vw;
  margin: 0 auto 50px;
}

.sectorTools__legendTitle {
  grid-column-start: 1;
  grid-column-end: -1;
}

.sectorTools__mapHex {
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  background-color: rgba(0, 0, 0, 0.025);
  margin: 2px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 50%;
    height: 50%;
  }

  p {
    font-size: 10px;
    position: absolute;
    top: 5px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
}
