.modal {
  cursor: pointer;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__contentContainer {
  cursor: auto;
  position: relative;
  width: fit-content;
  min-width: 100px;
  height: fit-content;
  min-height: 100px;
  padding: 25px;

  border: 5px solid var(--text-primary);
  background-color: var(--bg-default);
}
