.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal__contentContainer {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  width: 100px;
  height: 100px;
  border: 5px solid var(--text-primary);
  background-color: var(--bg-default);
}
