nav {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100%;
  background-color: var(--bg-navbar);
  display: flex;
  justify-content: center;
  border-bottom: 5px solid black;

  ul {
    display: flex;
    height: 100%;
  }

  li {
    height: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    border-inline: 5px solid transparent;

    &:hover {
      border-color: var(--button__active);
      cursor: pointer;
    }
  }

  .selected {
    background-color: var(--button__active);
    color: var(--button__active-text);
  }
}
