nav {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100%;
  background-color: var(--bg-navbar);
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    height: 100%;
  }

  li {
    height: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-top: none;
  }

  .selected {
    background-color: var(--button__active);
    color: var(--button__active-text);
  }

  li:hover {
    border-color: var(--button__active);
    cursor: pointer;
  }
}
