.sectorTools__controls {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px;

  button {
    padding: 5px 50px;
    border: 2px solid black;
    background-color: transparent;
  }

  button:hover {
    cursor: pointer;
  }
}
