.sectorTools__legend {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.sectorTools__legendHex {
  display: flex;
  flex-direction: column;

  p {
    border-bottom: 3px solid var(--text-primary);
    padding: 0 5px;
    font-size: 1.3rem;
  }

  ul {
    padding: 0 5px;
    list-style: disc;
    margin-left: 25px;
    min-height: 1em;
  }
}

.sectorTools__legendHex--empty {
  opacity: 0.4;
}
