.sectorTools__legend {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.sectorTools__legendHex {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  p {
    border-bottom: 1px solid black;
    padding: 0 5px;
  }

  ul {
    padding: 0 5px;
    list-style: disc;
    margin-left: 25px;
    min-height: 1em;
  }
}
