:root {
  --one: #000;
  --two: #ffffff;

  /* UI Tokens */
  --text-primary: var(--one);
  --bg-default: var(--two);
  --bg-navbar: var(--two);
  --button__active: var(--one);
  --button__active-text: var(--two);

  --nav-height: 60px;
  --nav-margin: 20px;
  --nav-total: calc(var(--nav-height) + var(--nav-margin));
}
