:root {
  --one: #333446;
  --two: #7f8caa;
  --three: #7f8caa;
  --four: #eaefef;

  /* UI Tokens */
  --text-primary: var(--four);
  --bg-default: var(--one);
  --bg-navbar: var(--two);
  --button__active: var(--four);
  --button__active-text: var(--one);

  --nav-height: 60px;
}
