:root {
  --one: #37353e;
  --two: #44444e;
  --three: #715a5a;
  --four: #d3dad9;

  /* UI Tokens */
  --text-primary: var(--four);
  --bg-default: var(--one);
  --bg-navbar: var(--two);
  --button__active: var(--four);
  --button__active-text: var(--one);

  --nav-height: 60px;
}
